!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">

		<title>Layout 4</title>

    	<link rel="stylesheet" href="css/style.css">
	</head>
	
	<body>
		<header class="top">
			<logo>Pith</logo>

			<nav class="main">
				<ul>
					<li>History</li>
					<li>About</li>
					<li>Contact</li>
					<li>FAQ</li>
				</ul>
			</nav>
		</header>

	
		<section class="content">
			<p>Main</p>
		</section>

		<div class="grid">
			<div class="col-1">
				<p>Left</p>
			</div>	
			
			<div class="col-2">
				<p>Center</p>
			</div>
			
			<div class="col-3">
				<p>Right</p>
			</div>
		</div>	

		<footer class="bottom">
			<h2>Fin</h2>
		</footer>
	</body>
		