DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">

		<title>Layout 5</title>

    	<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<header class="top">
			<logo>Pith</logo>

			<nav class="main">
				<ul>
					<li>History</li>
					<li>Students</li>
					<li>About</li>
					<li>Contact</li>
					<li>FAQ</li>
				</ul>
			</nav>
		</header>

		<div class="grid">
			<div class="col-1">
				<p>Left</p>
			</div>	
		</div>




		<footer class="bottom">
			<h2>Fin</h2>
		</footer>
	</body>