* {
  box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.4;
	margin: 30px;
}
#notification {
	background: #EEE;
	padding: 10px;
	border: 1px solid #CCC;
}
.message{
	background: #FFE;
	padding: 15px;
	border: 2px solid #CCB;
	margin:10px 0;
}
.error {
	background: #FEE;
	border-color: #C66;
}
code{
	background: black;
	color: white;
}